<a href="https://colab.research.google.com/github/Jay5852/100-days-machine-learning-daily-practice/blob/main/feature_engineering/date_time_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
date = pd.read_csv('/content/drive/MyDrive/Datasets/orders.csv')
time = pd.read_csv('/content/drive/MyDrive/Datasets/messages.csv')

In [4]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [5]:
time.head()

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [6]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [7]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

Working With Dates

In [8]:
#Converting to datetime
date['date'] = pd.to_datetime(date['date'])

In [9]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [10]:
time['date'] = pd.to_datetime(time['date'])

In [11]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

# 1.Extract Year

In [14]:
date['date_year'] = date['date'].dt.year

date.head()

        date  product_id  city_id  orders  date_year
0 2019-12-10        5628       25       3       2019
1 2018-08-15        3646       14     157       2018
2 2018-10-23        1859       25       1       2018
3 2019-08-17        7292       25       1       2019
4 2019-01-06        4344       25       3       2019

# 2.Extract Month

In [17]:
date['month_no'] = date['date'].dt.month

date.head()

        date  product_id  city_id  orders  date_year  month_no
0 2019-12-10        5628       25       3       2019        12
1 2018-08-15        3646       14     157       2018         8
2 2018-10-23        1859       25       1       2018        10
3 2019-08-17        7292       25       1       2019         8
4 2019-01-06        4344       25       3       2019         1

# 3.Month Name

In [18]:
date['month_name'] = date['date'].dt.month_name()

date.head()

        date  product_id  city_id  orders  date_year  month_no month_name
0 2019-12-10        5628       25       3       2019        12   December
1 2018-08-15        3646       14     157       2018         8     August
2 2018-10-23        1859       25       1       2018        10    October
3 2019-08-17        7292       25       1       2019         8     August
4 2019-01-06        4344       25       3       2019         1    January

# 4.Extract Exact Date

In [24]:
date['exact_day'] = date['date'].dt.day
# date.drop('exact_date',inplace=True)
date.head()

,date,product_id,city_id,orders,date_year,month_no,month_name,exact_day
0,2019-12-10,5628,25,3,2019,12,December,10
1,2018-08-15,3646,14,157,2018,8,August,15
2,2018-10-23,1859,25,1,2018,10,October,23
3,2019-08-17,7292,25,1,2019,8,August,17
4,2019-01-06,4344,25,3,2019,1,January,6

In [25]:
# Day of the week
date['day_of_week'] = date['date'].dt.dayofweek

date.head()

,date,product_id,city_id,orders,date_year,month_no,month_name,exact_day,day_of_week
0,2019-12-10,5628,25,3,2019,12,December,10,1
1,2018-08-15,3646,14,157,2018,8,August,15,2
2,2018-10-23,1859,25,1,2018,10,October,23,1
3,2019-08-17,7292,25,1,2019,8,August,17,5
4,2019-01-06,4344,25,3,2019,1,January,6,6

In [26]:
# Day of the week
date['day_of_week_name'] = date['date'].dt.day_name()

date.head()

,date,product_id,city_id,orders,date_year,month_no,month_name,exact_day,day_of_week,day_of_week_name
0,2019-12-10,5628,25,3,2019,12,December,10,1,Tuesday
1,2018-08-15,3646,14,157,2018,8,August,15,2,Wednesday
2,2018-10-23,1859,25,1,2018,10,October,23,1,Tuesday
3,2019-08-17,7292,25,1,2019,8,August,17,5,Saturday
4,2019-01-06,4344,25,3,2019,1,January,6,6,Sunday

In [29]:
# is weekend?

date['date_is_weekend'] = np.where(date['day_of_week_name'].isin(['Sunday', 'Saturday']), 1,0)

date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,month_no,month_name,exact_day,day_of_week,day_of_week_name,date_is_weekend
0,2019-12-10,2019,12,December,10,1,Tuesday,0
1,2018-08-15,2018,8,August,15,2,Wednesday,0
2,2018-10-23,2018,10,October,23,1,Tuesday,0
3,2019-08-17,2019,8,August,17,5,Saturday,1
4,2019-01-06,2019,1,January,6,6,Sunday,1

# Extract week of the year

In [33]:
date['date_week'] = date['date'].dt.isocalendar().week


date.head()

,date,product_id,city_id,orders,date_year,month_no,month_name,exact_day,day_of_week,day_of_week_name,date_is_weekend,date_week
0,2019-12-10,5628,25,3,2019,12,December,10,1,Tuesday,0,50
1,2018-08-15,3646,14,157,2018,8,August,15,2,Wednesday,0,33
2,2018-10-23,1859,25,1,2018,10,October,23,1,Tuesday,0,43
3,2019-08-17,7292,25,1,2019,8,August,17,5,Saturday,1,33
4,2019-01-06,4344,25,3,2019,1,January,6,6,Sunday,1,1

# Extract Quarter

In [34]:
date['quarter'] = date['date'].dt.quarter

date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,month_no,month_name,exact_day,day_of_week,day_of_week_name,date_is_weekend,date_week,quarter
0,2019-12-10,2019,12,December,10,1,Tuesday,0,50,4
1,2018-08-15,2018,8,August,15,2,Wednesday,0,33,3
2,2018-10-23,2018,10,October,23,1,Tuesday,0,43,4
3,2019-08-17,2019,8,August,17,5,Saturday,1,33,3
4,2019-01-06,2019,1,January,6,6,Sunday,1,1,1

# Extract Semester

In [35]:
date['semester'] = np.where(date['quarter'].isin([1,2]), 1, 2)

date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,month_no,month_name,exact_day,day_of_week,day_of_week_name,date_is_weekend,date_week,quarter,semester
0,2019-12-10,2019,12,December,10,1,Tuesday,0,50,4,2
1,2018-08-15,2018,8,August,15,2,Wednesday,0,33,3,2
2,2018-10-23,2018,10,October,23,1,Tuesday,0,43,4,2
3,2019-08-17,2019,8,August,17,5,Saturday,1,33,3,2
4,2019-01-06,2019,1,January,6,6,Sunday,1,1,1,1

#  Extract Time elapsed between dates

In [36]:
import datetime

today = datetime.datetime.today()

today

datetime.datetime(2026, 1, 7, 19, 33, 59, 922494)

In [37]:
today - date['date']

0     2220 days 19:33:59.922494
1     2702 days 19:33:59.922494
2     2633 days 19:33:59.922494
3     2335 days 19:33:59.922494
4     2558 days 19:33:59.922494
                 ...
995   2648 days 19:33:59.922494
996   2589 days 19:33:59.922494
997   2437 days 19:33:59.922494
998   2502 days 19:33:59.922494
999   2276 days 19:33:59.922494
Name: date, Length: 1000, dtype: timedelta64[ns]

In [38]:
(today - date['date']).dt.days

0      2220
1      2702
2      2633
3      2335
4      2558
       ...
995    2648
996    2589
997    2437
998    2502
999    2276
Name: date, Length: 1000, dtype: int64

In [42]:
today_year = today.year
today_month = today.month

date_year = date['date'].dt.year
date_month = date['date'].dt.month

months_passed = (today_year - date_year) * 12 + (today_month - date_month)

print(months_passed)

0      73
1      89
2      87
3      77
4      84
       ..
995    87
996    85
997    80
998    82
999    75
Name: date, Length: 1000, dtype: int32

In [40]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [41]:
# Converting to datetime datatype
time['date'] = pd.to_datetime(time['date'])

In [43]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [44]:
time['hour'] = time['date'].dt.hour
time['min'] = time['date'].dt.minute
time['sec'] = time['date'].dt.second

time.head()

,date,msg,hour,min,sec
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0

# Extract Time part

In [45]:

time['time'] = time['date'].dt.time

time.head()

,date,msg,hour,min,sec,time
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0,00:50:00
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0,23:40:00
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0,00:21:00
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0,00:31:00
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0,23:11:00

# Time difference

In [46]:
today - time['date']

0     4406 days 18:43:59.922494
1     4270 days 19:53:59.922494
2     4756 days 19:12:59.922494
3     4058 days 19:02:59.922494
4     4455 days 20:22:59.922494
                 ...
995   5045 days 18:43:59.922494
996   4366 days 20:19:59.922494
997   4831 days 19:56:59.922494
998   4947 days 19:59:59.922494
999   4219 days 20:08:59.922494
Name: date, Length: 1000, dtype: timedelta64[ns]

In [47]:
# in seconds

(today - time['date'])/np.timedelta64(1,'s')

0      3.807458e+08
1      3.689996e+08
2      4.109876e+08
3      3.506798e+08
4      3.849854e+08
           ...
995    4.359554e+08
996    3.772956e+08
997    4.174702e+08
998    4.274928e+08
999    3.645941e+08
Name: date, Length: 1000, dtype: float64

In [48]:
# in minutes

(today - time['date'])/np.timedelta64(1,'m')

0      6.345764e+06
1      6.149994e+06
2      6.849793e+06
3      5.844663e+06
4      6.416423e+06
           ...
995    7.265924e+06
996    6.288260e+06
997    6.957837e+06
998    7.124880e+06
999    6.076569e+06
Name: date, Length: 1000, dtype: float64

In [49]:
# in hours

(today - time['date'])/np.timedelta64(1,'h')

0      105762.733312
1      102499.899978
2      114163.216645
3       97411.049978
4      106940.383312
           ...
995    121098.733312
996    104804.333312
997    115963.949978
998    118747.999978
999    101276.149978
Name: date, Length: 1000, dtype: float64